<div
   class="fixed top-0 left-0 right-0 z-50 flex items-center justify-center w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full backdrop-sepia-0 bg-gray-800/30">
   <div class="relative w-full h-full max-w-2xl p-4 md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
         <!-- Modal body -->
         <div class="p-6 space-y-6">
            <ng-content select="[content]"></ng-content>
         </div>
      </div>
   </div>
</div>